@import url(http://fonts.googleapis.com/css?family=Neuton:400,700);

body
    color black
    background-color white
    font-family 'Neuton', serif
    font-height 16px
    letter-spacing 0.7px
    line-height 1.4

a
    color #e84436

#container
    margin auto

#logo
    text-indent -9999px
    width 592px
    height 127px
    background url(/logo.png) 8px -80px no-repeat
    margin 55px auto 43px auto

nav
    background-color black

    ol
        list-style-type none
        text-align center
        padding 0
        margin 0

    li
        display inline-block

    a
        color white
        text-decoration none
        transition color 0.4s ease-in-out

        &:hover
            color #e84436

.row
    clear both
    margin-top 24px
    margin-bottom 24px

.clear
    clear both

.buttons
    text-align right
    margin 12px 0

.btn
    color black
    background-color #fecc66
    font-size 24pt
    text-decoration none
    padding 12px 24px

.category
    position relative

    &:hover label
        opacity 1.0

    img
        width 100%

    label
        cursor pointer
        position absolute
        display block
        width 100%
        top 39%
        color black
        background-color #f6b761
        font-family 'Arial', sans-serif
        text-transform uppercase
        text-align center
        opacity 0.6
        transition opacity 0.4s ease-in-out

.photo
    width 49%
    margin-bottom 1.75%

    img
        width 100%

.lead-photo
    width 100%
    margin-bottom 2%

    img
        width 100%

.gutter-sizer
    width 2%

.post
    .date
        font-size 80%

    .content
        width 70%

    .menu
        float right
        width 28%

#footer
    text-align center
    color #505050

// Responsive thresholds: 480, 768, 1024
@media screen and (max-width: 767px)
    .category
        display block

        label
            height 64px
            font-size 30pt
            padding-top 11px

    .photo
        width 100%

    #footer
        font-size 16pt

        img
            width 36px
            height 36px
            margin-right 24px

@media screen and (min-width: 768px)
    .category
        display inline-block
        width 48%

        &:nth-child(2)
            margin-left 4%

@media screen and (min-width: 1024px)
    #container
        width 1024px

    nav
        font-size 22pt
        letter-spacing 1.5px

        li
            padding 18px 0

        a
            padding 18px 22px

    .category
        label
            height 64px
            font-size 30pt
            padding-top 11px

    #footer
        font-size 24pt

        img
            width 48px
            height 48px
            margin-right 44px

@media screen and (min-width: 768px) and (max-width: 1024px)
    #container
        width 768px

    nav
        font-size 16pt
        letter-spacing 1.2px

        li
            padding 12px 0

        a
            padding 12px 16px

    .category
        label
            height 48px
            font-size 22pt
            padding-top 8px

    #footer
        font-size 20pt

        img
            width 36px
            height 36px
            margin-right 32px

@media screen and (min-width: 480px) and (max-width: 767px)
    #container
        width 100%

    nav
        display none

@media screen and (max-width: 479px)
    #container
        width 100%

    nav
        display none
