@import url(http://fonts.googleapis.com/css?family=Neuton:400,700);

body
    color black
    background-color white
    font-family 'Neuton', serif
    font-height 16px
    letter-spacing 0.7px
    line-height 1.4

a
    color #e84436

#container
    max-width 1024px
    margin auto

#logo
    text-indent -9999px
    width 592px
    height 127px
    background-image url(http://dummyimage.com/592x127/ffffff/000000&text=Gaaflora%20Galleries)
    margin 55px auto 43px auto

nav
    background-color black
    font-size 22pt
    letter-spacing 1.5px

    ol
        list-style-type none
        text-align center
        padding 0
        margin 0
    
    li
        display inline-block
        padding 18px 0px
    
    a
        color white
        text-decoration none
        padding 18px 22px
        transition color 0.4s ease-in-out

        &:hover
            color #e84436

.row
    clear both
    margin-top 24px
    margin-bottom 24px

.category
    position relative
    display inline-block

    &:nth-child(2)
        margin-left 24px

    &:hover label
        opacity 1.0

    label
        cursor pointer
        position absolute
        display block
        width 500px
        height 64px
        top 142px
        color black
        background-color #f6b761
        font-family 'Arial', sans-serif
        font-size 30pt
        padding-top 11px
        text-transform uppercase
        text-align center
        opacity 0.6
        transition opacity 0.4s ease-in-out

#footer
    font-size 24pt
    text-align center
    color #505050

    img
        width 48px
        height 48px
        margin-right 44px
