img(src="http://lorempixel.com/1024/651/people/9")
.row
    a(href="#").category
        img(src="http://lorempixel.com/500/348/nightlife")
        label Music
    a(href="#").category
        img(src="http://lorempixel.com/500/348/fashion")
        label Editorial
.row
    a(href="#").category
        img(src="http://lorempixel.com/500/348/people")
        label Portraits
    a(href="#").category
        img(src="http://lorempixel.com/500/348/nature")
        label Travel
.row
    a(href="#").category
        img(src="http://lorempixel.com/500/348/technics")
        label Products
    a(href="#").category
        img(src="http://lorempixel.com/500/348/abstract")
        label About
