doctype

html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title= page.title || config.title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/style.css")

    body
        #container
            a(href="/"): h1#logo Gaaflora Galleries
            nav
                ol
                    li: a(href="/music/") Music
                    li: a(href="/editorial/") Editorial
                    li: a(href="/portraits/") Portraits
                    li: a(href="/travel/") Travel
                    li: a(href="/products/") Product
                    li: a(href="#") About
                    li: a(href="#") Blog
            != body
            #footer
                p E + kari@gaaflora.com&nbsp;&nbsp;P + 206.890.7759
                p
                    a(href="https://www.facebook.com/pages/Gaaflora-Galleries-Photography/142152792569848"): img(src="/icons/Facebook.png", title="Facebook")
                    a(href="https://twitter.com/gaaflora"): img(src="/icons/Twitter.png", title="Twitter")
                    a(href="#"): img(src="/icons/Google+.png", title="Google+")
                    a(href="#"): img(src="/icons/Flickr.png", title="Flickr")
                    a(href="#"): img(src="/icons/LinkedIn.png", title="LinkedIn")
                    a(href="#"): img(src="/icons/Pinterest.png", title="Pinterest")

        script(src="/js/imagesloaded.pkgd.min.js")
        script(src="/js/masonry.pkgd.min.js")
        script(src="/js/gaaflora.js")
