layout: gallery
---
#gallery-photos
    .gutter-sizer
    .lead-photo
        img(src="/products/Lights2.jpg")
    .photo
        img(src="/products/IMG_1505.jpg")
    .photo
        img(src="/products/product2cropped.jpg")

