layout: gallery
---
#gallery-photos
    .gutter-sizer
    .lead-photo
        img(src="/music/guitar.jpg")
    .photo
        img(src="/music/dsc00423_423_240.JPG")
    .photo
        img(src="/music/IMG_0093.jpg")
    .photo
        img(src="/music/IMG_0128.jpg")
    .photo
        img(src="/music/IMG_0131.jpg")
    .photo
        img(src="/music/IMG_0142%202.jpg")
    .photo
        img(src="/music/IMG_0173.jpg")
    .photo
        img(src="/music/IMG_0189.jpg")
    .photo
        img(src="/music/IMG_0251.jpg")
    .photo
        img(src="/music/IMG_0332.jpg")
    .photo
        img(src="/music/IMG_0341.jpg")
    .photo
        img(src="/music/IMG_0395.jpg")
    .photo
        img(src="/music/IMG_0412.jpg")
    .photo
        img(src="/music/IMG_0533.jpg")
    .photo
        img(src="/music/IMG_0578.jpg")
    .photo
        img(src="/music/IMG_0618.jpg")
    .photo
        img(src="/music/IMG_0719.jpg")